[sitePicker]
==
<!DOCTYPE html>
<html lang="{{ activeLocale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1.0">
        <title>{{ this.page.title }}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ 'assets/dist/css/style.css'|theme }}">
    </head>
    <body>
        {% partial 'site/header' %}

        {% page %}

        {% partial 'site/footer' %}

        <script src="{{ 'assets/dist/js/app.js'|theme }}"></script>
    </body>
</html>