[sitePicker]

[session]
==
<!DOCTYPE html>
<html lang="{{ activeLocale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1.0">
        <title>{{ this.page.title }} | YaiRastas</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ 'assets/dist/css/style.css'|theme }}">
        {% styles %}
    </head>
    <body>
        {% partial 'site/header' %}

        {% if this.page.id != 'index' %}
            {% partial 'hero' %}
        {% endif %}

        {% page %}

        {% partial 'site/footer' %}

        {% framework extras %}
        <script src="{{ 'assets/dist/js/app.js'|theme }}"></script>
        {% scripts %}
    </body>
</html>
